body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0 ;
    top: 0;
}


#caja1{
    border: 1px solid red;
    padding-top: 100px;
}

#caja2{
    position: absolute;
    margin: 10px 20px 10px 500px;
    /* top right bottom left */
    border: 1px solid red;
    max-width: 5%;
    padding: 1%;
    right: 20%;
}

*{
    font-style: italic;
    font-weight:900;
    font-variant: small-caps;
    font-family: 'Qwitcher Grypen', cursive;

}

#caja1{
    border:1px solid red;
    margin-top: 50px;
    padding-top: 100px;

}

#caja2{
    margin: 10px 20px 30px 40px;
    /* top rigth bottom left */
    border: solid red;
    border-width: 1px 10px 30px 50px;
    /*debbugear*/
}
#imagen-responsive{
    width: 25%;
    border:1px solid red;
    display:block;

}

/*Display:
-none
-block
-inline
-inlie-block
*/
li{
    display:inline;
    margin-left: 30px;
}
span{
    /* error typo*/
    border:1px solid red;
    display:block;
}