a*{border: 2px solid red;}
body{
    width: 100vw;
}

header{
    position: fixed;
    width: 100vw;
    background-color: black;
    margin-left: -8px;
    height: 50px;
    margin-top: -10px;
    z-index: 99999;
    border-radius: 4px
}

#logo{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    margin-top: 5px;
}

#ulheader{
    position: absolute;
    top: -1vh;
    right: 5%;
}
.listaheader{
    display: inline;
    max-width: fit-content;
    margin-right: 10px;
}


.slogan{
    font-family: 'Roboto', sans-serif;
    max-width: fit-content;
    position: absolute;
    left: 34%;     
    margin-top: 50px;
    
}
#unico{
    color: rgb(208, 71, 71);
}
.butindex{
    display: grid;
    border: 2px solid red;
    width: fit-content;
    height: fit-content;

}

#indumentariabut{
    width: 500px;
    height: 200px;
    margin-top: 100px;
    border-radius: 10px;
}
#gastronomiabut{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 35%;
    margin-top: 320px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgb(0,0,0);
}
#baresbut{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 35%;
    margin-top: 530px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgb(0,0,0);
}
#maquillajebut{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 35%;
    margin-top: 740px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgb(0,0,0);
}

.main2{
    margin-top: 70%;
    background-color: rgba(255, 0, 0, 0.638);
    height: 700px;
    width: 100%;
    margin-left: -8px;

}

#mascomunidad{
    max-width: 30%;
    position: absolute;
    right: 20vw;
    top: 140vh;
    font-family: 'Roboto', sans-serif;;
}

#ptextoindex1{
    font-family: 'Roboto', sans-serif;
    color: rgb(233, 231, 156);
    max-width: 40%;
    position: absolute;
    right:5vw;    
    bottom: -65vh;
}

#fotocomunidad{
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgb(0,0,0);
    position: absolute;
    bottom: -90vh;    
    left: 5vw;
}
.footer{
    background-color: black;
}
@media only screen and (max-width: 768px) {

    .slogan{
        font-family: 'Roboto', sans-serif;
        width: 350px;
        position: absolute;
        max-width: fit-content;    
        margin-top: 40px;
        left: 5px;
    }

    body{
        width: 100vw;
        height: 100vh;
    }

    .butindex{
        display: grid;
        border: 2px solid blue;
        position: absolute;
        height: 200px;
        left: 40%;
    }

    .butindex, a{
        left: 40%;
    }

    #indumentariabut{
        width: 200px;
        height: 200px;
        border-radius: 10px;
    }
    #gastronomiabut{
        width: 200px;
        height: 200px;
        position: absolute;
        border-radius: 10px;
    }
    #baresbut{
        width:200px;
        height: 200px;
        position: absolute;
        border-radius: 10px;
    }
    #maquillajebut{
        width: 200px;
        height: 200px;
        position: absolute;
        border-radius: 10px;

    }
    #logo{
        display: block;
        width: 80px;
        height: 30px;
        z-index: 9999;
        border-radius: 4px;
    }

    header{
        position: fixed;
        width: 100vw;
        background-color: white;
        z-index: 999999;
        height: 40px;
        margin: -8px -5px;
        padding-top: 10px;
    }
    #ulheader{
        position: absolute;
        right: 5vw;
        top: -1vh;
    }
    .listaheader{
        display: inline;
        max-width: fit-content;
        margin-right: 10px;
        margin-top: 100px;
    }

    .main2{
        display: none;
    }
    #mascomunidad{
        display: none;
    }
    #ptextoindex1{
        display: none;
    }
    #fotocomunidad{
        display: none;
    }
}