body{
    background-color: antiquewhite;
}

.gastrocards{
    display: grid;
    border: 2px solid blue;
    width: 100%;
    position: absolute;
}

.imggastronomia{
    width: 400px;
    height: 250px;
    margin: 1px;
    border-radius: 2vh;
    box-shadow: 0px 2px 5px  rgb(0,0,0);
}
