body{
    background-color: #293c4b;

}
.container-fluid-lg{
    background-color: #293c4b;
    height: 100vh
}


#logo{
    display: none;
}

#home{
    margin-top: 3px;
}



#loginform{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#email{
    height: 45px;
    width: 300px;
    margin-top: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 17px;
    
}

#password{
    height: 45px;
    width: 300px;
    margin-top: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 17px;
}

#loginbut{
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    transition: 1s;
}

#loginbut:hover{
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(114, 123, 200);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}



#psignup{
    margin-top: 40px;


    color: white;
    font-size: 17px;
}

#signupbut{
    max-width: fit-content;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 1s;
    font-size: 15px;
}

#signupbut:hover{
    max-width: fit-content;
    border-radius: 20px;
    background-color: rgb(114, 123, 200);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}





