#headercompu{
    height: 60px;
    background-color: rgb(32, 30, 30);
}

#headercelu{
    display: none;
}

#logo{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

#navbarr{
    position: absolute;
    max-width: fit-content;
    margin-left: 80%;
    margin-top: -40px;
}


#col1{
    background-color: rgb(39, 86, 162);
    display: grid;
    grid-template-rows: 600px;
}

#col2{
    background-color: rgb(39, 86, 162);
    display: grid;
    grid-template-rows: 600px;
}

#contentimgcarro{
    margin-top: 65px ;
    margin-left: 55px;
    height: 500px;
    width: 350px;
}

#maincelular{
    display: none;
}

#slogan1{
    max-width: fit-content;
    max-height: 60px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 20%;
    font-weight: 600

}

#unico{
    color: rgb(220, 151, 151);
}

.flechita{
    max-width: fit-content;
    position: absolute;
    color: rgb(216, 149, 149);
    margin-top: 60px;
    margin-left: 420px;

}

#ropabut{
    max-width: fit-content;
    max-height: 201px;
    margin-top: -430px;
    margin-left: 30%;
}


#ropabutimg{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px black;
    transition: width 1.5s, height 1.5s;
}

#ropabutimg:hover{
    width: 420px;
    height: 210px;
    border-radius: 10px;
}


#cardtext-center{
    width: 101.7%;
    left: -12px;

}

#slogan2{
    color: blue;
    font-weight: 500;
}

#descargarIcon{
    margin-top: -4px;
}

#textomodal{
    color: rgb(7, 61, 255);
    font-weight: 500;
}


@media only screen and (max-width: 768px){

    #headercompu{
        display: none;
    }

    #headercelu{
        display: block;
        height: 60px;
        background-color:  rgb(32, 30, 30);
    }

    #logo{
        width: 120px;
        height: 40px;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 33%;
    }



    #maincelular{
        display: block;

    }

    #conteinerslogan1celu{
        width: 100%;
        height: 65px;
        background-color: bisque;
    }
    #slogan1celu{
        color: rgb(50, 50, 107);
        font-weight: 500;
    }

    #col1celu{
        height: 150px;
    }

    #ropabutcelu{
        max-width: 150px;
        max-height: 100px
    }

    #ropabutimgcelu{
        height: 100px;
        width: 150px;
    }

    #col1{
        display: none;
    }


    #col2{
        display: none;
    }

    #slogan2{
        display: none;
    }

    #cardtext-center{
        width: 101.7%;
        left: -3px;
    }


}