*{
    aborder: 1px solid red;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    position: fixed;
    width: 100vw;

}

#logo{
    width: 40px;
    height: 20px;
}

#ulheader{
    position: absolute;
    right: 5vw;
    top: -1vh;
}
.listaheader{
    display: inline;
    max-width: fit-content;
    margin-right: 10px;
}


.slogan{
    font-family: 'Roboto', sans-serif;
    max-width: fit-content;
    position: absolute;
    left: 34%;     
    margin-top: 40px;
}
#unico{
    color: rgb(208, 71, 71);
}
.butindex{
    aborder: 2px solid red;
    display: flex;
    flex-wrap: wrap;

}

#indumentariabut{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 35%;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgb(0,0,0);
}
#gastronomiabut{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 35%;
    margin-top: 320px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgb(0,0,0);
}
#baresbut{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 35%;
    margin-top: 530px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgb(0,0,0);
}
#maquillajebut{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 35%;
    margin-top: 740px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgb(0,0,0);
}

.main2{
    margin-top: 70%;
    background-color: rgba(255, 0, 0, 0.638);
    height: 700px;
    width: 100%;
    margin-left: -8px;

}

#mascomunidad{
    max-width: 30%;
    position: absolute;
    right: 20vw;
    top: 140vh;
    font-family: 'Roboto', sans-serif;;
}

#ptextoindex1{
    font-family: 'Roboto', sans-serif;
    color: rgb(233, 231, 156);
    max-width: 40%;
    position: absolute;
    right:5vw;    
    bottom: -65vh;
}

#fotocomunidad{
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgb(0,0,0);
    position: absolute;
    bottom: -90vh;    
    left: 5vw;
}
.footer{
    background-color: black;
}
@media only screen and (max-width: 768px) {
    .slogan{
        font-family: 'Roboto', sans-serif;
        max-width: fit-content;
        position: absolute;
        left: 14%;     
        margin-top: 40px;
    }

    body{
        width: 100vw;
        height: 100vh;
    }

    
    #indumentariabut{
        width: 300px;
        height: 200px;
        position: absolute;
        margin-left: -120px;
        margin-top: 120px;
        border-radius: 10px;
        box-shadow: 0px 3px 5px rgb(0,0,0);
    }
    #gastronomiabut{
        width: 300px;
        height: 200px;
        position: absolute;
        margin-left: -120px;
        margin-top: 340px;
        border-radius: 10px;
        box-shadow: 0px 3px 5px rgb(0,0,0);
    }
    #baresbut{
        width:300px;
        height: 200px;
        position: absolute;
        margin-left: -120px;
        margin-top: 550px;
        border-radius: 10px;
        box-shadow: 0px 3px 5px rgb(0,0,0);
    }
    #maquillajebut{
        width: 300px;
        height: 200px;
        position: absolute;
        margin-left: -120px;
        margin-top: 760px;
        border-radius: 10px;
        box-shadow: 0px 3px 5px rgb(0,0,0);
    }

    .main2{
        display: none;
    }
    #mascomunidad{
        display: none;
    }
    #ptextoindex1{
        display: none;
    }
    #fotocomunidad{
        display: none;
    }
}