body{
    background-color: rgb(255, 233, 203);
}

.slogan{
    position: relative;
    left: 45%;
      
}


.butindex{
    width: 300px;
    height: 100px;
    position: relative;
    left: 50%;
    margin: 10px;
    
}
