body{
    background-color: rgb(255, 233, 203);
    aborder: 2px solid red;
}

#hh2indumentaria{
    position: relative;
    left: 55%;
}

.inducards{
    aborder: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    position: absolute;
    margin-left: 5vw;

}
.imgindumentaria{
    width: 20vw;
    height: 30vh;
    margin: 10px;
    border-radius: 2vh;
    box-shadow: 0px 3px 5px rgb(0,0,0);
}

