body{
    abackground-color: #293c4b;
    background-color:rgb(16, 15, 15);
}

#headerrr{
    abackground-color:rgb(16, 15, 15);
    background-color: rgb(59, 48, 48);
}


#home{
    margin-top: 3px;
}

#dropcategorias{
    height: 30px;
    margin-top: 4px;
    margin-left: 5px;
}

#textodropcatego{
    margin-top: -4px;
}


.inducards{

    display: grid;
    width: fit-content;
    position: absolute;
    grid-template-columns: repeat(4, 310px);
    margin-top: 60px;
    margin-left: 6vw;

}

.card{
    background-color:rgb(16, 15, 15);
    margin-top: 10px;
    color: white;
    margin-top: 20px;
    border: none;

}

.opnmodalcompu{
    width: 281px;
    height: 318px;
    border-radius: 8px;
}

#imgcompucard{
    width: 288px;
    height: 320px;
    border-radius: 6px;
    position: relative;
    margin-left: -9px;
    transition: 1.5s;
    margin-top: -5px;
}
#imgcompucard:hover{
    margin-left: -12px;
    width: 295px;
    height: 330px;
    z-index: 99;
    margin-top: -8px;
}


.ccard-title{
    max-width: fit-content;
    font-weight: 500;
    margin-left: 70px;
}

.botonguardado{
    position: absolute;
    margin-top: -40px;
    margin-left: 230px;
    background-color: transparent;
    border-radius: 100%;
    z-index: 10;
    border: 0;
}
#logoguardado{
    color: white;
    transition: 1.5s;
}

.ccard-text{
    font-weight: 300;

}



.inducardscelu{
    display: none;
}

@media only screen and (max-width: 668px){


    body{
        background-color: black;
    }

    #logo{
        position: absolute;
        display: block;
        width: 80px;
        height: 30px;
        border-radius: 10px;
        margin-top: -28px;
        margin-left: 7%;
        z-index: 99999999999;

    }

    .inducards{
        display: none;
    }

    .inducardscelu{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: repeat(4,250px) ;
        width: fit-content;
        position: absolute;
        margin-top: 50px;
        background-color: rgb(0, 0, 0);
    }

    .opnmodal{
        background-color: black;
        max-width: fit-content;
        height: 250px;
        width: 49vw;
        margin-left: -7px;

    }

    
    .imgindumentaria{
        width: 50vw;
        height: 250px;
        position: relative;
        margin-left: -17px;


    }


    .imgindumentariainmodal{
        width: 83vw;
        height: 430px;
        border-radius: 0px;
        margin-left: 4.5vw;
        
    }

    .lead{
        font-weight: 600;
        font-size: 30px;
    }

    .botonguardadocelu{
        position: absolute;
        margin-top: -35px;
        margin-left: 80vw;
        background-color: whitesmoke;
        border: white;
        z-index: 10;
    }

    .pmodalcelu{
        font-size: 20px;
        font-weight: 400;
    }

    #btnmodalcelu{
        width:93vw;
    }

    .modal-content{
        background-color: whitesmoke;
    }
}

