body{
    background-color: rgb(255, 233, 203);
    aborder: 2px solid red;
}

#hh2indumentaria{
    position: relative;
    left: 55%;
}

.inducards{
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 275px 275px 275px 275px 275px;
    width: fit-content;
    position: absolute;
}

.imgindumentaria{
    width: 270px;
    height: 270px;
    margin: 1px;
    border-radius: 2vh;
    box-shadow: 0px 2px 5px rgb(0,0,0);
}

@media only screen and (max-width: 768px){
    body{
        background-color: rgb(255, 233, 203);
        aborder: 2px solid red;
    }
    
    #hh2indumentaria{
        position: relative;
        left: 55%;
    }
    
    .inducards{
        border: 2px solid blue;
        display: grid;
        grid-template-columns: 200px 200px ;
        width: fit-content;
        position: absolute;
    }
    
    .imgindumentaria{
        width: 200px;
        height: 250px;
        border-radius: 1vh;
        box-shadow: 0px 2px 5px rgb(0,0,0);
        box-decoration-break: clone;
    }
}
