body{
    background-color: whitesmoke;
}

#headerrr{
    background-color: rgb(59, 48, 48);
}


#home{
    margin-top: 3px;
}


.inducards{

    display: grid;
    width: fit-content;
    position: absolute;
    grid-template-columns: repeat(4, 345px);
    margin-top: 60px;
    margin-left: 2vw;

}

.card{
    background-color:whitesmoke;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    border: none;

}

.opnmodalcompu{
    width: 326px;
    height: 418px;
    border-radius: 8px;
}

#imgcompucard{
    width: 328px;
    height: 420px;
    border-radius: 6px;
    position: relative;
    margin-left: -9px;
    transition: 1.5s;
    margin-top: -5px;
}
#imgcompucard:hover{
    margin-left: -12px;
    width: 338px;
    height: 435px;
    z-index: 99;
    margin-top: -8px;
}

.card-title{
    font-weight: 350;
}


/*Comienzan los botonoses de guardados*/
/*    a guardar    */
.botonguardado{
    position: absolute;
    margin-top: -40px;
    margin-left: 270px;
    background-color: transparent;
    border-radius: 100%;
    z-index: 10;
    border: 0;
}
#logoguardado{
    color: rgb(0, 0, 0);
    transition: 1.5s;
    z-index: 10;
}
/* YA GUARDADOS */
.btnyaguardado{
    display: none;
    position: absolute;
    margin-top: -40px;
    margin-left: 270px;
    background-color: transparent;
    border-radius: 100%;
    z-index: 10;
    border: 0;
}

#logoyaguardado{
    color: rgb(0, 0, 0);
    transition: 1.5s;
    z-index: 10;

}

/*    a guardar x num  */

/* 1 */
#btn_a_guadrar_activo_1{
    display: block;
}
#btn_a_guardar_inactivo_1{
    display: none;
}



/* YA GUARDADOS x num */

/* 1 */
#btn_ya_guardado_inactivo_1{
    display: none;
}
#btn_ya_guardado_activo_1{
    display: block;
}


.card-text{
    font-weight: 300;
    font-size: 14px;
}

#webinstabut{
    height: 25px;
}
#webinstap{
    margin-top: -7px;
}

.inducardscelu{
    display: none;
}

/* DISPLAY GUARDADOS*/

#card1{
    display: none;
}
#card_activa_1{
    display: block;
}
#card2{
    display: none;
}
#card3{
    display: none;
}
#card4{
    display: none;
}
#card5{
    display: none;
}
#card6{
    display: none;
}




@media only screen and (max-width: 668px){


    body{
        background-color: black;
    }

    #logo{
        position: absolute;
        display: block;
        width: 80px;
        height: 30px;
        border-radius: 10px;
        margin-top: -28px;
        margin-left: 7%;
        z-index: 99999999999;

    }

    .inducards{
        display: none;
    }

    .inducardscelu{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: repeat(4,250px) ;
        width: fit-content;
        position: absolute;
        margin-top: 50px;
        background-color: rgb(0, 0, 0);
    }

    .opnmodal{
        background-color: black;
        max-width: fit-content;
        height: 250px;
        width: 49vw;
        margin-left: -7px;

    }

    
    .imgindumentaria{
        width: 50vw;
        height: 250px;
        position: relative;
        margin-left: -17px;


    }


    .imgindumentariainmodal{
        width: 83vw;
        height: 430px;
        border-radius: 0px;
        margin-left: 4.5vw;
        
    }

    .lead{
        font-weight: 600;
        font-size: 30px;
    }

    .botonguardadocelu{
        position: absolute;
        margin-top: -35px;
        margin-left: 80vw;
        background-color: whitesmoke;
        border: white;
        z-index: 10;
    }

    .pmodalcelu{
        font-size: 20px;
        font-weight: 400;
    }

    #btnmodalcelu{
        width:93vw;
    }

    .modal-content{
        background-color: whitesmoke;
    }
}

